<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RandomDataGenerator</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <!-- Change the Home link to Addresses -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addresses" Match="NavLinkMatch.All">
                <span class="oi oi-map" aria-hidden="true"></span> Addresses
            </NavLink>
        </div>

        <!-- Add the following lines for the Books page -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="oi oi-book" aria-hidden="true"></span> Books
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="creditcards">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Credit Cards
            </NavLink>
        </div>

        <!-- Add the following lines for the Companies page -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="companies">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Companies
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="images">
                <span class="oi oi-image" aria-hidden="true"></span> Images
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="persons">
                <span class="oi oi-person" aria-hidden="true"></span> Persons
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="places">
                <span class="oi oi-person" aria-hidden="true"></span> Places
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="oi oi-person" aria-hidden="true"></span> Products
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="texts">
                <span class="oi oi-person" aria-hidden="true"></span> Texts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-person" aria-hidden="true"></span> Users
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="custom">
                <span class="oi oi-cog" aria-hidden="true"></span> Custom
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Inject] NavigationManager NavigationManager { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void NavigateTo(string page)
    {
        NavigationManager.NavigateTo(page);
    }
}
